@font-face{
    font-family:'Montserrat regular';
    src:url(/fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'Montserrat bold';
    src: url(/fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family: 'GrandHotel regular';
    src: url(/fonts/GrandHotel/GrandHotel-Regular.ttf);
}


* {
    padding:0;
    margin:0;
}

.button-style {
    border:none;
    background-color: #ffc200;
    color:#333333;
    font-family:'Montserrat bold';
    cursor:pointer;
    text-transform:uppercase;
    border-radius:4px;
}
.button-style:hover {
    background-color: #ffd44a;
}

.small-button {
    width: 245px;
    height: 50px;
    font-size: 19.2px;
}
.regular-button {
    width: 322px;
    height: 65px;
    font-size: 25px;
}
.subscribe-button {
    font-size:25px;
    width: 222px;
    height: 65px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.header{
    font-family:'Grand Hotel';
}
.header.high{
    font-size:124.6px;
}
.header.medium {
    font-size: 100px;
}
.header.small {
    font-size: 75px;
}
.header.smaller{
    font-size:41.67px;
}
.header-mini {
    font-family: 'Montserrat bold';
    text-transform:uppercase;
}
.font-yellow {
    color: #ffc200;
}
.font-dark {
    color: #2f2f2f;
}
.font-light{
    color: white;
}

.text{
    font-family:'Montserrat regular';
}

.link{
    font-family:'Montserrat regular';
    color:white;
    text-decoration:none;
}

:root {
    --height-page: 900px;
}

body {
    display: grid;
    grid-template-rows: repeat(7,var(--height-page));
}

.background-dark {
    background-color: #2f2f2f;
}

.background-light {
    background-color: white;
}

.page1 {
    display: grid;
    grid-template-columns: minmax(200px,603px) 1fr;
    height: var(--height-page);
}

.content {
    z-index: 1;
    position: relative;
}

.page1 .content {
    height: 95%;
}
.page1 > div {
    position: relative;
}


.background_1 {
    background-image: url(/images/background_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.background_1_cap {
    height: 100%;
    margin-left: -173px;
    position: absolute;
}

.menu {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(6,auto);
    align-items: center;
    margin: 46px 60px 0 0px;
    min-width: 780px;
}
.menu > * {
    margin: 0 5px;
}

.menu .link{
    font-size:25px;
}


.search {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    min-width: 30px;
}

.search > form {
    height: 30px;
    width: 0px;
    transition: all 0.5s;
}

.search:hover > form {
    width: 210px;
}

.search input {
    height: 100%;
}

.search input[type='text'] {
    width: 200px;
    margin-left: 10px;
    border-radius: 4px;
    outline: 0;
    border: none;
    font-size:20px;
}

.search input[type='submit'] {
    display: none;
}

.search div, .search form {
    display: inline-block;
}

.page1 .content .text{
    font-size:29.7px;
}

.page1 .filling {
    padding-top: 115px;
    padding-left: 50px;
    padding-right: 180px;
    padding-bottom: 183px;
    height: 58%;
}

.page1 .filling p {
    padding-left: 5px;
}

.page1 .small-button {
    margin-top: 60px;
}

.page1 .content > img {
    position:absolute;
}
.page1 .content > img:nth-of-type(1) {
    left: -80px;
    top: 264px;
}
.page1 .content > img:nth-of-type(2) {
    left: 20px;
    top: 65px;
}
.page1 .content > img:nth-of-type(3) {
    right: 215px;
    top: 84px;
}
.page1 .content > img:nth-of-type(4) {
    right: 130px;
    top: 250px;
}
.page1 .content > img:nth-of-type(5) {
    left: 30px;
    bottom: 120px;
}
.page1 .content > img:nth-of-type(6) {
    left: 200px;
    bottom: 50px;
}
.page1 .content > img:nth-of-type(7) {
    right: 342px;
    bottom: 88px;
}
.page1 .content > img:nth-of-type(8) {
    right: 182px;
    bottom: 38px;
}
.page1 .content > img:nth-of-type(9) {
    right: 78px;
    bottom: 185px;
}

.page2 {
    padding: 120px 170px;
    display: grid;
    justify-items: center;
    height: var(--height-page);
    text-align: center;
    align-content: start;
}

.page2 .content {
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 100%;
    justify-content: space-between;
    margin-top: 70px;
}

.page2 .header.small {
    text-align: justify;
    width: 280px;
}

.page2 > .text {
    font-size: 25.2px;
    padding: 0 100px;
    margin-top: 16px;
}

.page2 .meal {
    display: grid;
    justify-items: center;
    width: 260px;
    text-align: center;
}
.page2 .meal img {
    -webkit-mask-image: url(/images/circle-mask.svg);
    mask-image: url(/images/circle-mask.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 240px;
    object-fit: cover;
    width: 240px;
    height: 240px;
}

.page2 .meal .header{
    margin-top:5px;
}
.page2 .meal .text {
    margin-top: 10px;
}

.page3 {
    display: grid;
    grid-template-rows: 1fr 300px;
    height: var(--height-page);
}
.page3 > div {
    position: relative;
}

.page3 > div:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    min-width: 1330px;
}

.background_2_cap {
    width: 100%;
    position: absolute;
    bottom: -54px;
    max-height: 550px;
}

.page3 .meal {
    position: relative;
    bottom: 258px;
    left: 5px;
}

.page3 .meal img {
    -webkit-mask-image: url(/images/circle-mask.svg);
    mask-image: url(/images/circle-mask.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 465px;
    object-fit: cover;
    width: 465px;
    height: 465px;
}
.page3 .content {
    width: 570px;
    position: relative;
    bottom: 187px;
    left: -5%;
    margin-top: 5px;
}
.page3 .content .text {
    font-size: 25px;
    margin-top:14px;
}
.page3 .content .button-style{
    margin-top:60px;
}

.page4 {
    display: grid;
    height: var(--height-page);
    position: relative;
}

.page4 .header {
    margin-top: 75px;
}

.page4 .text {
    font-size: 24.7px;
    text-align: center;
    padding-right: 20px;
    width: 810px;
}

.page4 .content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 100px;
    position:relative;
}

.page4 .param{
    position:relative;
    margin:0 25px;
}

.page4 .param .header-mini:first-of-type {
    font-size: 50.5px;
    position: absolute;
    left: 50%;
    top: 37%;
    transform: translate(-50%,-50%);
}
.page4 .param .header-mini:last-of-type {
    font-size: 28.9px;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
}

.page4 >img, .page4 .content>img{
    position:absolute;
}

.page4 > div {
    display: grid;
    align-content: start;
    justify-items: center;
}